@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5f7;
  --foreground: #4a4a4a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #fbcfe0;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f9a8d4;
}
